@model CommunityConnections.Models.Alert

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alert</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimePosted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimePosted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlertType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlertType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlertTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlertTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlertDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlertDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNavigation.StatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNameNavigation.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlertId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
